.analytics-container{

background:black;
color:white;
padding:60px;

}

.analytics-filter{

display:flex;
justify-content:flex-end;
margin-bottom:40px;

}

.days-select{

padding:15px;
background:#1a1a1f;
color:white;
border:none;
border-radius:10px;

}

.analytics-title{

font-size:60px;
margin-bottom:50px;

}

.stats-grid{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
margin-bottom:40px;

}

.stats-card{

background:#141416;
padding:40px;
border-radius:25px;
text-align:center;

}

.stats-icon{

font-size:35px;
margin-bottom:25px;

}

.stats-card h2{

font-size:55px;

}

.stats-card p{

color:gray;
font-size:20px;

}

.stats-card span{

color:#00d95f;
font-size:25px;
font-weight:bold;

}

.red{

color:red !important;

}

.chart-grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:25px;
margin-bottom:40px;

}

.chart-card{

background:#141416;
padding:25px;
border-radius:25px;

}

.chart-card h3{

margin-bottom:20px;

}

.chart-card img{

width:100%;
height:320px;
border-radius:15px;

}

.dish-section{

background:#141416;
padding:25px;
border-radius:25px;

}

.dish-item{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px;

background:#242424;

border-radius:15px;

margin-top:20px;

}

.dish-item p{

color:gray;

}

.dish-item span{

color:#00d95f;
font-weight:bold;

}