body{
margin:0;
padding:0;
background:black;
font-family:Arial,sans-serif;
overflow-x:hidden;
color:white;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

.checkout-container{

background:black;
min-height:100vh;
padding:40px;
color:white;

}

.title{

font-size:70px;
font-weight:bold;
text-align:center;
margin-bottom:40px;

}


/* PROGRESS BAR */

.progress{

display:flex;
justify-content:center;
align-items:center;
margin-bottom:50px;

}

.circle{

width:60px;
height:60px;

border-radius:50%;

background:#1f1f1f;

display:flex;
justify-content:center;
align-items:center;

font-size:24px;
font-weight:bold;

color:#999;

}

.active{

background:orange;
color:white;

}

.line{

width:120px;
height:4px;

background:#333;

}

.active-line{

background:orange;

}


/* MAIN CONTENT */

.content{

display:flex;
gap:40px;
align-items:flex-start;

}

.left{

flex:2;

}

.price-card{

flex:1;

background:#151515;

padding:30px;

border-radius:20px;

position:sticky;
top:100px;

}


.card{

background:#151515;

padding:35px;

border-radius:20px;

}


.card h2{

font-size:35px;
margin-bottom:30px;

}


/* ADDRESS */

.address-box{

background:#1f1f1f;

padding:25px;

border-radius:15px;

margin-bottom:25px;

}

.address-box p{

font-size:18px;
color:#999;
margin-bottom:8px;

}

.address-box span{

font-size:25px;

}


/* ORDER SUMMARY */

.food-row{

display:flex;
justify-content:space-between;

padding:20px 0;

border-bottom:1px solid #333;

font-size:22px;

}


/* PAYMENT */

.payment-option{

background:#1f1f1f;

padding:20px;

border-radius:15px;

margin-bottom:20px;

cursor:pointer;

font-size:20px;

transition:.3s;

}

.payment-option:hover{

border:1px solid orange;
transform:translateY(-3px);

}


/* BUTTONS */

.button-row{

display:flex;
gap:20px;

margin-top:40px;

}

.next-btn,
.back-btn,
.place-btn{

flex:1;

padding:18px;

border:none;

border-radius:12px;

font-size:20px;

cursor:pointer;

color:white;

}

.next-btn{

background:orange;

}

.back-btn{

background:#333;

}

.place-btn{

background:#16c45b;

}

.next-btn:hover,
.back-btn:hover,
.place-btn:hover{

transform:scale(1.03);

}


/* PRICE DETAILS */

.price-card h2{

font-size:35px;
margin-bottom:25px;

}

.price-row{

display:flex;
justify-content:space-between;

margin-bottom:25px;

font-size:22px;

color:#ccc;

}

.total-row{

display:flex;
justify-content:space-between;

font-size:35px;

font-weight:bold;

margin-top:30px;

color:orange;

}

hr{

border:1px solid #333;

margin:20px 0;

}


/* MOBILE */

@media(max-width:768px){

.content{

flex-direction:column;

}

.price-card{

width:100%;

position:relative;

}

.title{

font-size:45px;

}

.card h2{

font-size:28px;

}

}
.payment-option{

padding:25px;
margin-bottom:20px;

background:#1f1f1f;

border-radius:15px;

cursor:pointer;

font-size:20px;

}

.selected{

border:2px solid orange;

}

.payment-box{

background:#151515;

padding:25px;

border-radius:15px;

margin-bottom:20px;

text-align:center;

}

.qr{

width:200px;
height:200px;

border-radius:10px;

margin-bottom:15px;

}

.payment-input{

width:100%;

padding:15px;

margin-bottom:15px;

border:none;

outline:none;

border-radius:10px;

background:#222;

color:white;

font-size:18px;

}
/* ORDER SUCCESS PAGE */

.confirm-card{

background:#151515;

padding:40px;

border-radius:20px;

text-align:center;

width:100%;

}

.success{

width:90px;
height:90px;

margin:auto;

background:#16c45b;

border-radius:50%;

display:flex;
justify-content:center;
align-items:center;

font-size:50px;

font-weight:bold;

margin-bottom:25px;

}

.confirm-card h1{

font-size:45px;

margin-bottom:15px;

}

.confirm-card p{

font-size:22px;

color:#aaa;

margin-bottom:30px;

}

.info{

display:flex;

justify-content:center;

gap:60px;

margin:40px 0;

flex-wrap:wrap;

}

.info div{

background:#1f1f1f;

padding:20px;

border-radius:15px;

min-width:200px;

}

.info p{

font-size:18px;

color:#999;

margin-bottom:10px;

}

.info h3{

font-size:28px;

color:white;

}

.track-btn{

flex:1;

padding:18px;

border:none;

border-radius:12px;

font-size:20px;

cursor:pointer;

color:white;

background:linear-gradient(
90deg,
orange,
deeppink
);

}

.home-btn{

flex:1;

padding:18px;

border:none;

border-radius:12px;

font-size:20px;

cursor:pointer;

color:white;

background:#333;

}

.track-btn:hover,
.home-btn:hover{

transform:scale(1.03);

transition:.3s;

}