.navbar{

display:flex;
align-items:center;
justify-content:space-between;

padding:20px 40px;

background:black;

border-bottom:1px solid rgba(255,255,255,.1);

position:sticky;
top:0;
z-index:1000;

width:100%;
box-sizing:border-box;

}

.logo{

font-size:42px;
font-weight:bold;

color:white;

display:flex;
align-items:center;

flex-shrink:0;

margin-right:50px;

}

.navbar ul{

display:flex;

align-items:center;

list-style:none;

gap:45px;

padding:0;
margin:0;

flex:1;

}

.nav-link{

text-decoration:none;

color:white;

font-size:18px;

white-space:nowrap;

transition:.3s;

}

.nav-link:hover{

color:orange;

}

.navbar input{

width:320px;

padding:18px;

border:none;

outline:none;

border-radius:15px;

background:#1f1f1f;

color:white;

font-size:18px;

margin-right:20px;

flex-shrink:0;

}

.nav-icons{

display:flex;

align-items:center;

gap:12px;

flex-shrink:0;

}

.nav-icons button{

width:55px;
height:55px;

border:none;

border-radius:50%;

background:#1f1f1f;

font-size:25px;

cursor:pointer;

color:white;

transition:.3s;

}

.nav-icons button:hover{

transform:scale(1.1);

background:linear-gradient(
90deg,
orange,
deeppink
);

}

.profile-box{

position:absolute;

top:70px;
right:0;

width:250px;

background:#1d1d1d;

padding:20px;

border-radius:20px;

box-shadow:
0 0 25px rgba(255,98,0,.4);

}

.logout-btn{

width:100%;

padding:12px;

margin-top:20px;

border:none;

border-radius:10px;

cursor:pointer;

background:linear-gradient(
90deg,
orange,
deeppink
);

color:white;

}
.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 40px;

background:black;

border-bottom:1px solid #222;

color:white;

}

.logo{

font-size:50px;
font-weight:bold;

cursor:pointer;

}

.logo:hover{

color:orange;

}

ul{

display:flex;
gap:40px;

list-style:none;

}

ul li a{

text-decoration:none;

color:white;

font-size:22px;

}

ul li a:hover{

color:orange;

}

input{

width:380px;

padding:18px;

border:none;

outline:none;

border-radius:20px;

background:#1f1f1f;

color:white;

font-size:20px;

}

.nav-icons{

display:flex;
align-items:center;

gap:18px;

}

.nav-icons button{

width:70px;
height:70px;

border:none;

border-radius:50%;

background:#1f1f1f;

font-size:30px;

color:white;

cursor:pointer;

transition:.3s;

}

.nav-icons button:hover{

background:orange;

transform:scale(1.05);

}

.user-icon{

font-size:28px;
font-weight:bold;

}


@media(max-width:768px){

ul{

display:none;

}

input{

width:180px;

}

.logo{

font-size:35px;

}

}