body{
margin:0;
padding:0;
background:black;
color:white;
}

.orders-container{

min-height:100vh;
padding:50px;
background:black;

}

.orders-title{

text-align:center;
font-size:70px;
margin-bottom:50px;

}

.order-card{

background:#141414;

padding:30px;

border-radius:25px;

margin-bottom:30px;

}

.order-top{

margin-bottom:25px;

}

.order-top h2{

font-size:25px;

}

.order-top p{

color:#aaa;

margin-top:8px;

}

.food-row{

display:flex;

justify-content:space-between;

padding:18px 0;

border-bottom:1px solid #333;

font-size:24px;

}

.bottom-row{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:30px;

}

.bottom-row h2{

font-size:30px;

color:orange;

}

.again-btn{

padding:14px 30px;

border:none;

border-radius:10px;

background:orange;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

.again-btn:hover{

transform:scale(1.05);

}

.empty-order{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

height:50vh;

}

.empty-order h2{

font-size:45px;

}

.empty-order p{

color:#aaa;

margin:15px 0;

font-size:20px;

}

.menu-btn{

padding:15px 35px;

border:none;

border-radius:10px;

background:orange;

color:white;

font-size:18px;

cursor:pointer;

}