.profile-container{

min-height:100vh;
background:black;
padding:50px;
color:white;

}

.profile-card{

max-width:900px;

margin:auto;

background:#151515;

padding:50px;

border-radius:25px;

}

.avatar{

width:130px;
height:130px;

border-radius:50%;

background:orange;

display:flex;
justify-content:center;
align-items:center;

font-size:65px;

margin:auto;
margin-bottom:20px;

}

.profile-card h2{

text-align:center;

font-size:55px;

margin-bottom:15px;

}

.badge{

width:fit-content;

margin:auto;

padding:12px 20px;

border-radius:30px;

background:#222;

color:orange;

margin-bottom:40px;

}

.detail{

background:#1f1f1f;

padding:25px;

border-radius:15px;

margin-bottom:25px;

}

.detail label{

display:block;

color:gray;

margin-bottom:10px;

font-size:20px;

}

.detail p{

font-size:25px;

}

.detail input,
.detail textarea{

width:100%;

padding:18px;

background:#333;

border:none;

outline:none;

border-radius:10px;

color:white;

font-size:18px;

}

.edit-btn,
.save-btn{

width:100%;

padding:18px;

border:none;

border-radius:12px;

background:orange;

color:white;

font-size:22px;

cursor:pointer;

margin-top:20px;

}

.logout-btn{

width:100%;

padding:18px;

border:2px solid red;

background:transparent;

color:red;

font-size:22px;

border-radius:12px;

margin-top:20px;

cursor:pointer;

}

.edit-btn:hover,
.save-btn:hover,
.logout-btn:hover{

transform:scale(1.02);

transition:.3s;

}