body{
margin:0;
padding:0;
background:black;
overflow-x:hidden;
font-family:Arial,sans-serif;
}

html{
margin:0;
padding:0;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}


/* MAIN PAGE */

.restaurant-container{

background:black;
min-height:100vh;

color:white;

padding:1px 30px 60px 30px;
margin-top:-1px;

}


/* TITLE */

.restaurant-title{

text-align:center;

font-size:85px;
font-weight:bold;

margin-top:40px;
margin-bottom:50px;

}


/* ADD BUTTON */

.restaurant-add-btn{

display:block;

margin:auto;

padding:18px 50px;

border:none;
border-radius:15px;

font-size:24px;

color:white;

cursor:pointer;

background:linear-gradient(
90deg,
orange,
deeppink
);

transition:.3s;

margin-bottom:50px;

}

.restaurant-add-btn:hover{

transform:scale(1.05);

}


/* GRID */

.food-grid{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
450px,
1fr
)
);

gap:40px;

}


/* CARD */

.food-card{

background:#151515;

padding:25px;

border-radius:25px;

text-align:center;

transition:.3s;

box-shadow:
0 0 20px
rgba(
255,
255,
255,
0.06
);

}

.food-card:hover{

transform:translateY(-10px);

}


/* IMAGE */

.food-card img{

width:100%;

height:330px;

object-fit:cover;

border-radius:20px;

}


/* TEXT */

.food-card h2{

font-size:45px;

margin-top:15px;
margin-bottom:10px;

}

.food-card p{

font-size:30px;

color:orange;

margin-bottom:25px;

}


/* BUTTON GROUP */

.btn-group{

display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;

}


/* BUTTONS */

.edit-btn{

padding:14px 28px;

border:none;
border-radius:10px;

background:orange;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

.delete-btn{

padding:14px 28px;

border:none;
border-radius:10px;

background:red;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

.edit-btn:hover,
.delete-btn:hover{

transform:scale(1.05);

}


/* MOBILE */

@media(max-width:768px){

.restaurant-title{

font-size:55px;

}

.food-grid{

grid-template-columns:1fr;

}

.food-card img{

height:250px;

}

.food-card h2{

font-size:32px;

}

.food-card p{

font-size:24px;

}

}