*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

html,body,#root{
width:100%;
min-height:100vh;
background:#0f0f11;
color:white;
overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

button{
outline:none;
}

input{
outline:none;
}